
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/LdapCss.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    @using (Html.BeginForm())
    {

        <b>Id: </b>
        @Html.TextBox("id")
        <b>Pass:</b>
        @Html.Password("pass")<br />
        <input class="btn btn-primary" type="submit" value="Giriş Yap">


    }
    @ViewBag.mesaj
</body>
</html>
